* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.line {
    height: 3px;
    background: #27c4f5 -webkit-gradient(linear, left top, right top, from(#27c4f5), 
    color-stop(#a307ba), color-stop(fd8d32), color-stop(70c050)
}